@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='zh-CN' xml:lang='zh-CN' xmlns='http://www.w3.org/1999/xhtml'>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/timeList.css" />
    <link rel="stylesheet" type="text/css" href="http://sandbox.runjs.cn/uploads/rs/86/ryeuiarn/reset_y.css" />

    <script>

   (function() {
     if (!
     /*@@cc_on!@@*/
     0) return;
     var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
     var i= e.length;
     while (i--){
         document.createElement(e[i])
     }
})()
</script>
	<title>Tina Guo(郭易)'s Blog</title>
	<script id="jquery_183" type="text/javascript" class="library" src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
	<!-- <script id="jquery_183" type="text/javascript" class="library" src="/js/sandbox/jquery/jquery-1.8.3.min.js"></script> -->
</head>
<body class="impress-not-supported">
	<div class="bg">
		<img src="http://sandbox.runjs.cn/uploads/rs/86/ryeuiarn/bg04.jpg" width="100%"/>
	</div>
	<header class="top" id="top">
		<h1><a href="http://www.oschina.net/" target="_blank">
                
                @*<img src="~/images/Log.jpg" alt="Tina Guo"  />*@
            @*<img src="http://sandbox.runjs.cn/uploads/rs/86/ryeuiarn/160_os_logo.png" alt="开源中国"/>*@         
            </a><em>Tina Guo(郭易)'s Blog</em></h1>
		<div class="music" id="bgMusicSwitch" title="停止背景音乐">
		<div class="triangle"></div>
	  <div class="pause pause1"></div>
		<div class="pause pause2"></div>
</div>
	</header>
	<section id="timeline" class="timeline">
		<div id="line" class="line_white">
		</div>
	<div id="impress">
		<div id="timeList">
			<div class="step year"  data-x="-600" data-y="0" data-scale ="0.5" id="0">
				<div class="year2012">
					2012
			</div>
			<div class="list_show">
				2012，开源中国快速发展的一年<br/>
			</div>
			</div>
            @for (int i = 1; i < 25; i++)
            {
                   int b = 200 * (i - 1); 
                <div class="timeList_item step" data-x="@b" data-y="0" id="@i">
                    <div class="circle">
                        02/29 @i
                    </div>
                    <h2 class="timeList_item_title">
                        全面启用HTTPS登陆
                    </h2>
                    <div class="list_show show1">
                        <img src="http://sandbox.runjs.cn/uploads/rs/86/ryeuiarn/event1.jpg" width="500" />
                        <h2><a href="http://www.oschina.net/news/26158/oschina-https-login" target="_blank">全面启用HTTPS登陆</a></h2>
                        <p>彻底保护你的密码不被嗅探和盗用<br />OSCHINA采用商业证书，值得信赖</p>
                    </div>
                </div>
            }
          
            <div class="timeList_item step refresh" data-x="5000" data-y="0" id="25">
                <div class="list_show">
                    <a href='javascript:replay();'><img src="http://sandbox.runjs.cn/uploads/rs/86/ryeuiarn/refress.png" /></a>
                    <p class="end">
                        我的未来不是梦！
                    </p>
                </div>
            </div>
		
		</div>
</div>
	</section>
	<div class="gotop">
					<a href="#top"><img src="http://sandbox.runjs.cn/uploads/rs/86/ryeuiarn/top.png" title="回顶部"/></a>
	</div>
<!--[if !IE]><!-->
<script type="text/javascript" src="http://sandbox.runjs.cn/uploads/rs/86/ryeuiarn/impress.js"></script>
<!--<![endif]-->
     
<script type="text/javascript" src="~/js/timeList.js"></script>
</body>
</html> 
 